# Sydney COVID-19 cases by postcode

<a href="https://colab.research.google.com/github/maxim75/data-visualization/blob/master/notebooks/COVID_data_2.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" /><br/>Open in Colab</a>

In [1023]:
!pip install geopandas contextily mapclassify

Requirement already satisfied: geopandas in /opt/conda/lib/python3.9/site-packages (0.9.0)
Requirement already satisfied: contextily in /opt/conda/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: mapclassify in /opt/conda/lib/python3.9/site-packages (2.4.3)
Requirement already satisfied: fiona>=1.8 in /opt/conda/lib/python3.9/site-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.24.0 in /opt/conda/lib/python3.9/site-packages (from geopandas) (1.3.1)
Requirement already satisfied: pyproj>=2.2.0 in /opt/conda/lib/python3.9/site-packages (from geopandas) (3.1.0)
Requirement already satisfied: shapely>=1.6 in /opt/conda/lib/python3.9/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.9/site-packages (from contextily) (3.4.2)
Requirement already satisfied: pillow in /opt/conda/lib/python3.9/site-packages (from contextily) (8.3.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from contextily) (2.26.0)
Requirement already satisfied: rasterio in /opt/conda/lib/python3.9/site-packages (from contextily) (1.2.6)
Requirement already satisfied: joblib in /opt/conda/lib/python3.9/site-packages (from contextily) (1.0.1)
Requirement already satisfied: geopy in /opt/conda/lib/python3.9/site-packages (from contextily) (2.2.0)
Requirement already satisfied: mercantile in /opt/conda/lib/python3.9/site-packages (from contextily) (1.2.1)
Requirement already satisfied: scipy>=1.0 in /opt/conda/lib/python3.9/site-packages (from mapclassify) (1.7.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.9/site-packages (from mapclassify) (0.24.2)
Requirement already satisfied: numpy>=1.3 in /opt/conda/lib/python3.9/site-packages (from mapclassify) (1.19.5)
Requirement already satisfied: networkx in /opt/conda/lib/python3.9/site-packages (from mapclassify) (2.5)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: click>=4.0 in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.0.1)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: munch in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (49.6.0.post20210108)
Requirement already satisfied: attrs>=17 in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /opt/conda/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=0.24.0->geopandas) (2021.1)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/lib/python3.9/site-packages (from geopy->contextily) (1.52)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->contextily) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->contextily) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib->contextily) (0.10.0)
Requirement already satisfied: decorator>=4.3.0 in /opt/conda/lib/python3.9/site-packages (from networkx->mapclassify) (5.0.9)
Requirement already satisfied: affine in /opt/conda/lib/python3.9/site-packages (from rasterio->contextily) (2.3.0)
Requirement already satisfied: snuggs>=1.4.1 in /opt/conda/lib/python3.9/site-packages (from rasterio->contextily) (1.4.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->contextily) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->contextily) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->contextily) (3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn->mapclassify) (2.2.0)

In [1024]:
import pandas as pd
import geopandas as gpd
import mapclassify as mc
import datetime

import matplotlib
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import matplotlib.dates as mdates
import matplotlib.patches as mpatches

import contextily as ctx
import pyproj

In [1025]:
start_date = "2021-06-15"
end_date = datetime.datetime.now().strftime("%Y-%m-%d")

# Data source 
# https://data.nsw.gov.au/nsw-covid-19-data/cases
confirmed_cases_url = "https://data.nsw.gov.au/data/dataset/aefcde60-3b0c-4bc0-9af1-6fe652944ec2/resource/21304414-1ff1-4243-a5d2-f52778048b29/download/confirmed_cases_table1_location.csv"

# load data from CSV file
cases_df = pd.read_csv(confirmed_cases_url)
cases_df.notification_date = pd.to_datetime(cases_df.notification_date)

# remove last date from data since it is incomplete
cases_df = cases_df[cases_df.notification_date < cases_df.notification_date.max()]

# filter by start_date and end_date
cases_df = cases_df[(cases_df.notification_date >= start_date) & (cases_df.notification_date <= end_date)]
cases_df

,notification_date,postcode,lhd_2010_code,lhd_2010_name,lga_code19,lga_name19
5431,2021-06-15,2207,X720,South Eastern Sydney,10500.0,Bayside (A)
5432,2021-06-16,Masked,X720,South Eastern Sydney,18050.0,Waverley (A)
5433,2021-06-16,2050,X700,Sydney,17200.0,Sydney (C)
5434,2021-06-16,NaN,NaN,NaN,NaN,NaN
5435,2021-06-16,2026,X720,South Eastern Sydney,18050.0,Waverley (A)
...,...,...,...,...,...,...
14941,2021-08-17,2160,X740,Western Sydney,12380.0,Cumberland (A)
14942,2021-08-17,2160,X740,Western Sydney,12380.0,Cumberland (A)
14943,2021-08-17,2220,X720,South Eastern Sydney,12930.0,Georges River (A)
14944,2021-08-17,2194,X700,Sydney,11570.0,Canterbury-Bankstown (A)
14945,2021-08-17,2166,X710,South Western Sydney,12850.0,Fairfield (C)

In [1026]:
poa_population = pd.read_csv("https://raw.githubusercontent.com/maxim75/data-visualization/master/notebooks/data/census/poa_population.csv").set_index("Unnamed: 0")
# Set population for postcode manually (suburb population has grown significantly since 2016 Census)
poa_population.loc['POA2174']['Tot_P_P'] = 5409
poa_population

            ASGS_Code_2016  Tot_P_P
Unnamed: 0
POA2000               2000    27411
POA2006               2006     1259
POA2007               2007     8845
POA2008               2008    11712
POA2009               2009    12813
...                    ...      ...
POA2877               2877     3883
POA2878               2878      372
POA2879               2879      638
POA2880               2880    18276
POA2898               2898      382

[621 rows x 2 columns]

In [1027]:
poa_total_cases_df = cases_df.groupby(by=["postcode"]).size().to_frame("case_count").reset_index()
poa_total_cases_df = poa_total_cases_df[poa_total_cases_df.postcode != "Masked"]
poa_total_cases_df = poa_total_cases_df.astype({'postcode': 'int32'})
poa_total_cases_df

     postcode  case_count
0        1730           1
1        1781           1
2        2000          24
3        2007           2
4        2008           1
..        ...         ...
273      2847           1
274      2850           3
275      2866           1
276      2880           1
277      2899           1

[278 rows x 2 columns]

In [1028]:
poa_total_cases_df = pd.merge(poa_total_cases_df, poa_population[["ASGS_Code_2016", "Tot_P_P"]], 
                              left_on="postcode", right_on="ASGS_Code_2016")[["postcode", "case_count", "Tot_P_P"]]

poa_total_cases_df = poa_total_cases_df.rename(columns={ "Tot_P_P": "population"})
poa_total_cases_df

poa_total_cases_df["cases_per_1000"] = poa_total_cases_df.case_count / poa_total_cases_df.population * 1000

poa_total_cases_df = poa_total_cases_df.sort_values("cases_per_1000", ascending=False)

poa_total_cases_df.head(20)

     postcode  case_count  population  cases_per_1000
113      2165         527       42444       12.416360
126      2179          76        6530       11.638591
131      2194         242       24541        9.861049
123      2176         416       47809        8.701291
109      2161         267       31418        8.498313
132      2195         221       27154        8.138764
260      2818           7         871        8.036739
127      2190         201       25566        7.862004
112      2164         154       19624        7.847534
110      2162         146       18622        7.840189
134      2197          71        9069        7.828868
111      2163          75        9590        7.820647
136      2199         134       18013        7.439072
242      2760         245       33834        7.241237
218      2559          21        3069        6.842620
108      2160         246       35973        6.838462
137      2200         291       43687        6.661020
92       2142         162       26292        6.161570
121      2174          33        5409        6.100943
133      2196         187       31815        5.877731

In [1029]:
postcodes_df = gpd.read_file("https://raw.githubusercontent.com/maxim75/data-visualization/master/notebooks/data/geo/greater_sydney_postcodes.json").to_crs(epsg=4326)
postcodes_df = postcodes_df.astype({'POA_NAME16': 'int32'})
postcodes_df

,POA_CODE16,POA_NAME16,AREASQKM16,geometry
0,2006,2006,0.6780,"POLYGON ((151.19142 -33.88470, 151.19162 -33.8..."
1,2007,2007,0.5588,"POLYGON ((151.19469 -33.88090, 151.19461 -33.8..."
2,2008,2008,0.8450,"POLYGON ((151.19399 -33.88655, 151.19441 -33.8..."
3,2009,2009,0.9325,"POLYGON ((151.18869 -33.86635, 151.18908 -33.8..."
4,2010,2010,2.1733,"POLYGON ((151.21075 -33.87860, 151.21102 -33.8..."
...,...,...,...,...
202,2766,2766,27.2385,"POLYGON ((150.83116 -33.76492, 150.83065 -33.7..."
203,2767,2767,10.1088,"POLYGON ((150.85568 -33.76181, 150.85563 -33.7..."
204,2768,2768,9.0193,"POLYGON ((150.91324 -33.72664, 150.91280 -33.7..."
205,2769,2769,4.6535,"POLYGON ((150.89422 -33.70375, 150.89448 -33.7..."
206,2770,2770,24.7303,"POLYGON ((150.79734 -33.73257, 150.79717 -33.7..."

In [1030]:
poa_total_cases_df = pd.merge(postcodes_df, poa_total_cases_df, left_on="POA_NAME16", right_on="postcode")

In [1031]:
epsg3857 = pyproj.Proj('epsg:3857')
epsg4326 = pyproj.Proj('epsg:4326')

proj_transformer_4326_to_3857 = pyproj.Transformer.from_crs("epsg:4326", "epsg:3857")

sydney_bb = {
    "north": -33.62,
    "south": -34.086,
    "west": 150.6,
    "east": 151.38,
}

sydney_bb_epsg3857 = {}
sydney_bb_epsg3857["west"], sydney_bb_epsg3857["north"]  = proj_transformer_4326_to_3857.transform(sydney_bb["north"],sydney_bb["west"])
sydney_bb_epsg3857["east"], sydney_bb_epsg3857["south"],  = proj_transformer_4326_to_3857.transform(sydney_bb["south"],sydney_bb["east"])

In [1032]:
#cases_df[cases_df.postcode == "2165"]

daily_cases_df = cases_df[cases_df.postcode != "Masked"].groupby(by=["postcode", "notification_date"]).size().to_frame("case_count").reset_index()
daily_cases_df["postcode"] = daily_cases_df.postcode.astype("int64")
daily_cases_df

      postcode notification_date  case_count
0         1730        2021-08-12           1
1         1781        2021-08-17           1
2         2000        2021-06-23           1
3         2000        2021-06-25           1
4         2000        2021-06-26           1
...        ...               ...         ...
2801      2850        2021-08-14           2
2802      2850        2021-08-16           1
2803      2866        2021-07-20           1
2804      2880        2021-08-16           1
2805      2899        2021-08-03           1

[2806 rows x 3 columns]

In [1033]:
dates = pd.date_range(start_date, end_date)
postcodes = daily_cases_df.groupby(by="postcode").size().index.astype("int64")
dates.to_series()
#pd.merge(dates, postcodes)
postcode_date = dates.to_frame().merge(postcodes.to_frame(), how='cross').rename(columns={0:"notification_date"}).set_index(["notification_date", "postcode"])

cases_date_postcode = postcode_date.merge(daily_cases_df.set_index(["notification_date", "postcode"]), left_index=True, right_index=True, how="left").reset_index()
cases_date_postcode = cases_date_postcode.fillna(0)

cases_date_postcode = pd.merge(cases_date_postcode, poa_population[["ASGS_Code_2016", "Tot_P_P"]], 
                              left_on="postcode", right_on="ASGS_Code_2016")[["notification_date", "postcode", "case_count", "Tot_P_P"]]

cases_date_postcode["cases_per_1000"] = cases_date_postcode.case_count / cases_date_postcode.Tot_P_P * 1000
cases_date_postcode["notification_date"] = cases_date_postcode["notification_date"].astype("string")
cases_date_postcode

      notification_date  postcode  case_count  Tot_P_P  cases_per_1000
0            2021-06-15      2000         0.0    27411        0.000000
1            2021-06-16      2000         0.0    27411        0.000000
2            2021-06-17      2000         0.0    27411        0.000000
3            2021-06-18      2000         0.0    27411        0.000000
4            2021-06-19      2000         0.0    27411        0.000000
...                 ...       ...         ...      ...             ...
18013        2021-08-15      2880         0.0    18276        0.000000
18014        2021-08-16      2880         1.0    18276        0.054717
18015        2021-08-17      2880         0.0    18276        0.000000
18016        2021-08-18      2880         0.0    18276        0.000000
18017        2021-08-19      2880         0.0    18276        0.000000

[18018 rows x 5 columns]

In [1034]:
cases_date_postcode_pivot = cases_date_postcode.pivot(index='notification_date', columns="postcode", values="cases_per_1000")
cases_date_postcode_pivot_mean = cases_date_postcode_pivot.rolling(window=7, min_periods=7).mean().iloc[6:]
cases_date_postcode_pivot_mean = cases_date_postcode_pivot_mean.transpose()
cases_date_postcode_pivot_mean = pd.merge(postcodes_df, cases_date_postcode_pivot_mean, left_on="POA_NAME16", right_on="postcode")
cases_date_postcode_pivot_mean = gpd.GeoDataFrame(cases_date_postcode_pivot_mean, geometry="geometry")

In [1035]:
values_df = cases_date_postcode_pivot_mean[cases_date_postcode_pivot_mean.columns[4:]]
q10 = mc.Pooled(values_df, classifier="FisherJenks", k=10)

In [ ]:
size_x = 3840
size_y = 2160
dpi = 200
render_video_frames = False

def get_legend_elements(classifier):
    cmap = matplotlib.cm.get_cmap('YlOrRd')
    legend_elements = []
    idx = 0
    classes_count = len(classifier.get_legend_classes())
    for lclass in classifier.get_legend_classes():
        rgba = cmap(idx/classes_count)
        idx += 1
        legend_elements.append(mpatches.Patch(facecolor=rgba, edgecolor='#cccccc', label=lclass))
    return legend_elements


def show_map(show_date, idx, render_to_file):
    fig = plt.figure(constrained_layout=True, figsize=(size_x/dpi, size_y/dpi), dpi=dpi)
    gs = GridSpec(1, 1, figure=fig)
    ax_map = fig.add_subplot(gs[:, :])
    ax_map.set_axis_off()

    ax_map.set_xlim(sydney_bb_epsg3857["west"], sydney_bb_epsg3857["east"])
    ax_map.set_ylim(sydney_bb_epsg3857["south"], sydney_bb_epsg3857["north"])

    cases_date_postcode_pivot_mean.to_crs(epsg=3857).assign(cl=q10.col_classifiers[0](cases_date_postcode_pivot_mean[show_date])).plot(
        ax=ax_map, cmap='YlOrRd', column='cl', 
        alpha=0.7, legend=False, categorical=True, vmax=10, vmin=0,
        legend_kwds={'loc': 'lower right'}   #, 'labels': q10.get_legend_classes()
    ) 

    ctx.add_basemap(ax_map, zoom=11, source=ctx.providers.Stamen.TonerLines, alpha=.3)
    ctx.add_basemap(ax_map, zoom=11, source=ctx.providers.Stamen.TonerLabels)

    ax_map.legend(handles=get_legend_elements(q10.global_classifier), loc='lower right', labelspacing=.2, handlelength=1, title="Cases per day per 1000 people")
    ax_map.text(x=sydney_bb_epsg3857["west"]+0.01e5, y=sydney_bb_epsg3857["north"]-0.4e4, s=datetime.datetime.strptime(show_date, "%Y-%m-%d").strftime("%-d %b %Y"), fontsize=30)
    ax_map.text(x=sydney_bb_epsg3857["west"]+0.01e5, y=sydney_bb_epsg3857["south"]-0.4e4, s="Created by Maksym Kozlenko using NSW COVID-19 cases data https://data.nsw.gov.au/nsw-covid-19-data/cases", fontsize=14)

    
    if render_to_file:
        plt.savefig(f"images/myfig_{idx:04d}.png", dpi=dpi)
        plt.close()

if render_video_frames:
    idx = 0
    for date in dates[6:7]:
        show_map(str(date)[:10], idx, True)
        idx += 1
else:
    show_map(str(dates[-1])[:10], idx, False)